body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button{
    color: #fff;
}

ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}

.alt-header{
    background-color: #00d8ff !important;
}

.alt-header h1{
    color: #fff !important;
}

.alt-toggle-menu div span[role="menuitem"] a{
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}

.alt-toggle-menu .title {
    margin-left: 5px;
    color: #00d8ff;
}

.article .article-options{
    margin-bottom: 20px;
}

.article-comments__button button{
    padding: 0 10px !important;
}

.alt-toggle-menu .alt-toggle-menu__header a{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.alt-toggle-menu .alt-toggle-menu__header img{
    width: 50px;
    height: 50px;
}

.form-comment__input.black input{
    color: rgb(48, 48, 48) !important;
}

.form-comment__input.red input{
    color: rgb(244, 67, 54) !important;
}

.form-comment__textarea{
    width: 100% !important;
}

.form-comment__textarea.black textarea{
    color: rgb(48, 48, 48) !important;
}

.form-comment__textarea.red textarea{
    color: rgb(244, 67, 54) !important;
}

/*.form-comment__input div hr{*/
    /*border-color: rgb(33, 150, 243) !important;*/
/*}*/

/*.form-comment__textarea div hr{*/
    /*border-color: rgb(33, 150, 243) !important;*/
/*}*/

.alt-wrapper{
    margin: 20px 330px;
}

.alt-header.open div button {
    left: 250px;
}

.article-title{
    text-align: center;
}

.article{
    display: flex;
    flex-direction: column;
}

.right{
    align-self: flex-end;
}

.left{
    align-self: flex-start;
}


.article-comments ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.article-comments .article-button__comment{*/
    /*align-self: center;*/
    /*background: #ff6666;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*border: none;*/
    /*padding: 5px 20px;*/
    /*border-radius: 10px; */
/*}*/

.article-comments .article-comment__info{
    background: #ff6666;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.article-comments .article-comment__info .article-comment__info_user{
    color: #000;
}

.main{
    display: flex;
    justify-content: space-between
}

.right-bar{
    order: 2;
    margin-left: 40px;
    margin-top: 50px;
}

.article-list{
    width: 100%;
}

.date-result{
    display: flex;
    flex-direction: column;
}

.red{
    color: red;
}

.form-comment {

}

/*.form-comment__input{*/
    /*width: 250px;*/
    /*border-radius: 2px;*/
    /*height: 30px;*/
    /*background-color: #ff6666;*/
    /*border: none;*/
    /*font-size: 18px;*/
    /*text-indent: 5px;*/
    /*outline: 0;*/
    /*color: #fff;*/
    /*margin-top: 10px;*/
/*}*/


/*.form-comment .form-comment__textarea{*/
    /*border-radius: 20px;*/
    /*height: 110px;*/
    /*background-color: #ff6666;*/
    /*border: none;*/
    /*font-size: 18px;*/
    /*text-indent: 5px;*/
    /*resize: none;*/
    /*width: 100%;*/
    /*outline: 0;*/
    /*color: #fff;*/
    /*margin-top: 10px;*/
/*}*/

.article-search{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.article-search__input input{
    color: #000000 !important;
}

/*.article-search__input{*/
    /*width: 600px;*/
    /*height: 30px;*/
    /*border: 1px solid #9900cc;*/
    /*background: transparent;*/
    /*border-radius: 10px;*/
    /*font-size: 18px;*/
    /*color: #fff;*/
    /*text-indent: 10px;*/
    /*outline: 0;*/
    /*box-shadow: 0 0 50px #9900cc*/
/*}*/

#openDate{
    display: none;
}

@media only screen and (max-width: 480px) {
    body{
        margin: 10px;
    }

    .main {
        flex-direction: column;
    }

    .article-comments .article-comment__info {
        width: 100%;
        box-sizing: border-box;
    }

    .form-comment div {
        flex-direction: column;
    }

    .form-comment .form-comment__button {
        margin-top: 20px;
    }

    .form-comment__input {
        width: 100%;
    }

    .article-comment__info p{
        font-size: 12px;
    }

    .right-bar {
        order: 1;
        margin: 0;
    }

    #openDate{
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 30px;
        background-color: #3f0753;
        color: #9900cc;
        border-radius: 50%;
        padding: 10px 15px ;
        z-index: 1000;
    }

    .main .right-bar .date-picker{
        position: fixed;
        top: 20%;
        background-color: #000;
        transition: all 0.32s;
    }

    .main .right-bar .date-picker.close{
        transform: translateX(-1000px);
    }

    .main .right-bar .date-picker.open{
        transform: translateX(0);
    }

    .wrapper-date{
        display: flex;
        justify-content: center;
    }
}